{% extends "layouts/base.html" %}
{% block top %}
<!--
redirect_from: /
-->
{% endblock %}
{% block title %}CS70 Inbox{% endblock %}

{% block body %}
<main class="tasks-cont">
    <div class="wrap">
        <h1>Inbox</h1>
        <p>Here are your recommended tasks, with the newest tasks from {{ current.date_range }}</p>
        {% for section in tasks.sections %}
            <p class="divider">{{ section.title }}</p>
            {% for task in section.tasks %}
            <div class="task">
                <span>
                    <input type="checkbox" />
                </span>
                <span>
                    <p class="name">{{ task.name }}</p>
                </span>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</main>
{% endblock %}